# Python Programming (Sunday, Feb 16)

where is my Python

In [17]:
import sys
print(sys.executable)

/encs/pkg/anaconda3-2019.10/root/bin/python

## use Python as calculatoor

Number

In [18]:
5+2

7

In [19]:
5-2

3

In [20]:
20/5

4.0

In [21]:
50/3

16.666666666666668

In [22]:
5*5

25

In [23]:
5**2

25

In [24]:
20/6

3.3333333333333335

In [25]:
20//6

3

In [26]:
5.8/2

2.9

In [27]:
5.8//2

2.0

In [39]:
7 % 2

1

In [29]:
29%3

2

In [30]:
29 == 3*9 +2

True

In [31]:
307%100

7

In [33]:
no_of_courses = 50
no_of_students = 70

total_no_of_students = no_of_courses* no_of_students

In [34]:
print(total_no_of_students)

3500

In [ ]:
total_no_of_students

In [40]:
import math

In [41]:
math.ceil

In [44]:
math.ceil(4.1)

5

String

In [45]:
'I am a string'

'I am a string'

In [46]:
mystr = 'I am an assinged string'

In [47]:
mystr

'I am an assinged string'

In [48]:
"I am also a string"

'I am also a string'

In [49]:
"I am a string and my name is 'alex'"

"I am a string and my name is 'alex'"

In [50]:
'I am a string from "python"'

'I am a string from "python"'

In [51]:
'I am a string from 'python' too'

SyntaxError: invalid syntax (<ipython-input-51-7f2db76ab39a>, line 1)

In [52]:
"I'm here"

"I'm here"

In [53]:
""" also a string"""

' also a string'

In [59]:
print(""" here there 
I'm here to learn Python""")

 here there
I'm here to learn Python

In [60]:
print(""" here there \
I'm here to learn Python""")

 here there I'm here to learn Python

In [63]:
'Py' + 'thon'

'Python'

In [64]:
firstname = "Python"

In [65]:
lastname = "workshop"

In [67]:
firstname + ' ' + las
tname

'Python workshop'

In [68]:
firstname[0]

'P'

In [69]:
firstname[2:4]

'th'

In [70]:
firstname[4]

'o'

In [71]:
firstname[2]

't'

In [74]:
firstname[0:2] + lastname

'Pyworkshop'

In [75]:
len(firstname)

6

List

In [77]:
type(firstname)

str

In [78]:
type(list)

type

list = 'my list' # Do not do that

In [79]:
mylist = [1, 2, 3.4, "I am a string"]

In [80]:
mylist

[1, 2, 3.4, 'I am a string']

In [81]:
mylist2 = [1, 2, 3, [4, 5, 6], "str"]

In [82]:
mylist2

[1, 2, 3, [4, 5, 6], 'str']

In [83]:
mylist2[0]

1

In [84]:
mylist2[2:3]

[3]

In [86]:
mylist2[3:]

[[4, 5, 6], 'str']

# conditionas

In [88]:
mystr = "PythonWork"

In [93]:
mystr == "PythonWork"

True

```
if True {
print('hey')
print('this is true')
            a = 'mysecondstr'
}

print('program is ended')
```

In [95]:
if True:
    print("i an inside if")
    print(" i am also inside if")
print("i am outside the if block")

i an inside if
 i am also inside if
i am outside the if block

In [96]:
if False:
    print("i an inside if")
    print(" i am also inside if")
print("i am outside the if block")

i am outside the if block

In [100]:
if False:
print("i an inside if")
print(" i am also inside if")
print("i am outside the if block")

IndentationError: expected an indented block (<ipython-input-100-953f578777a5>, line 2)

In [101]:
34 ==34

True

In [106]:
if 34 == 34:
    print(" the if statement was True so this block was executed")
    print("i an inside if")
    print(" i am also inside if")
else:
    print(" I was False and am part of the else block")
print("i am outside the if block")

 the if statement was True so this block was executed
i an inside if
 i am also inside if
i am outside the if block

In [109]:
if 34 == 35:
    print(" the if statement was True so this block was executed")
    print("i an inside if")
    print(" i am also inside if")
else:
    print(" I was False and am part of the else block")
print("i am outside the if block so I don't care about the status (true or False) of if statement")

 I was False and am part of the else block
i am outside the if block so I don't care about the status (true or False) of if statement

In [110]:
def workshop_if():
    if 34 == 35:
        print(" the if statement was True so this block was executed")
        print("i an inside if")
        print(" i am also inside if")
    else:
        print(" I was False and am part of the else block")
    print("i am outside the if block so I don't care about the status (true or False) of if statement")

In [113]:
my_pretty_function = workshop_if

In [114]:
my_pretty_function

In [115]:
my_pretty_function()

 I was False and am part of the else block
i am outside the if block so I don't care about the status (true or False) of if statement

In [116]:
workshop_if()

 I was False and am part of the else block
i am outside the if block so I don't care about the status (true or False) of if statement

In [123]:
def workshop_if_with_argument(number):
    if 34 == number:
        print(" the if statement was True so this block was executed")
        print("i an inside if")
        print(' the passed number is equal to 34')
    else:
        print(" I was False and am part of the else block")
        print("I was not 34. I could have any other value")
    print("""this is to let you know, that your function was executed properly 
            I don't care what argument you passed to the function """)
    
    return number * 2

In [125]:
myresult = workshop_if_with_argument(34)

 the if statement was True so this block was executed
i an inside if
 the passed number is equal to 34
this is to let you know, that your function was executed properly
            I don't care what argument you passed to the function

In [126]:
myresult

68

```
def get_number .... 

    return sth
```
it gets an argument

if the argument is not a number, print it's not a number and finish
if it's a number, print it's even if it is, print it's odd if it is, 
take square root of it and return that
if the passed argument was a negative number , only print odd or even, also print that a negative number was passed, and return 0

In [130]:
isinstance([23], int)

False

In [136]:
import math
math.sqrt(100)

10.0

In [147]:
import math
def get_number(number):
    if isinstance(number, int):
        print(" a number was passed to the function")
        
        if number % 2 == 0:
            print(' the number is even')
        else:
            print(' the number is odd')
        
        if number < 0:
            print("""the number is negative so the 
            square root is not returned""")
            return 0
        else:
            return math.sqrt(number)
    else:
        print('passed argument is not a number \
        please pass a number and try again')
        
        return 0

In [156]:
get_number(-100)

 a number was passed to the function
 the number is even
the number is negative so the
            square root is not returned

0

# for loop

In [1]:
items = ['python', 'workshop', [1,2], (4,5,7), 4500]

In [2]:
items

['python', 'workshop', [1, 2], (4, 5, 7), 4500]

In [3]:
type(items)

list

In [4]:
for item in items:
    print(item)

python
workshop
[1, 2]
(4, 5, 7)
4500

In [5]:
for item in ['python', 'workshop', [1, 2], (4, 5, 7), 4500]:
    print(item)

python
workshop
[1, 2]
(4, 5, 7)
4500

## enumerate

In [6]:
items

['python', 'workshop', [1, 2], (4, 5, 7), 4500]

In [8]:
list(enumerate(items))

[(0, 'python'), (1, 'workshop'), (2, [1, 2]), (3, (4, 5, 7)), (4, 4500)]

In [10]:
for index, item in enumerate(items):
    print(index, '-->', item)

0 --> python
1 --> workshop
2 --> [1, 2]
3 --> (4, 5, 7)
4 --> 4500

## range

In [13]:
range(3, 10)

range(3, 10)

In [14]:
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

In [16]:
list(range(10, 30, 2))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [19]:
for num in range(1,3):
    print(num)

1
2

## pass

In [23]:
def to_do_function():
    pass

In [24]:
to_do_function()

## function

In [25]:
def function_name():
    print("I am printing something")
    
    return "this is a return"

In [26]:
function_name

In [27]:
function_name()

I am printing something

'this is a return'

In [28]:
return_result = function_name()

I am printing something

In [29]:
return_result

'this is a return'

In [7]:
def add_two_numbers(num1, num2):
    print(f"adding {num1} and {num2}")
    
    return num1 + num2

def divide_num(num, divide_by=15):
    print(f"dividing number {num} by {divide_by}")
    
    return num / divide_by

In [8]:
sum_of_num = add_two_numbers(num2=20, num1=10)

adding 10 and 20

In [11]:
divide_num(num=900, divide_by=20)

dividing number 900 by 20

45.0

In [16]:
args = [300, 10]

divide_num(*args)

dividing number 300 by 10

30.0

In [17]:
kwargs = {"num": 900, "divide_by":20}

divide_num(**kwargs)

dividing number 900 by 20

45.0

In [18]:
def myfunction(*args, **kwargs):
    print('do something')

In [38]:
def sum_of_num(*args, **kwargs):
    
    sum=0
    for num in args:
        sum += num # (sum = num + sum)
    
    print(args)
    print(kwargs)
    
    for key, value in kwargs.items():
        print(f"{key} -- > {value}")
        
    return sum

In [39]:
sum_of_num(1, 2, 300, 1000, a=4)

(1, 2, 300, 1000)
{'a': 4}
a -- > 4

1303

In [40]:
def sum_of_num(*args):
    sum=0
    for num in args:
        sum += num # (sum = num + sum)
        
    return sum

In [41]:
sum_of_num(3, 4, 5, 6, 7)

25

In [49]:
def sum_of_num(*args, **kwargs):
    
    print(f"args is {args}")
    print(f"kwargs is {kwargs}")
    
    
    sum=0
    for num in args:
        sum += num # (sum = num + sum)
        
    for key, value in kwargs.items():
        print(f"{key}={value} was added too")
        sum += value
        
        
    return sum

In [50]:
sum_of_num(29, 30, num=90)

args is (29, 30)
kwargs is {'num': 90}
num=90 was added too

149

## break and continue

In [64]:
for num in [1,2,3,4,5, 6,7]:
    
    print(f"step1: number is {num}")
    
    if num in [3,7]:
        continue
    
    print("step2: I here add 100 to the number")
    
    print(num+100)
    
    
    if num == 5:
        print('step3: received number 5 but number 5 is not allowed here! breaking!')
        break

step1: number is 1
step2: I here add 100 to the number
101
step1: number is 2
step2: I here add 100 to the number
102
step1: number is 3
step1: number is 4
step2: I here add 100 to the number
104
step1: number is 5
step2: I here add 100 to the number
105
step3: received number 5 but number 5 is not allowed here! breaking!

# Error catching

In [65]:
10/0

ZeroDivisionError: division by zero

In [66]:
for i in [3,4,5,5];
hi

SyntaxError: invalid syntax (<ipython-input-66-8cde46494862>, line 1)

In [69]:
try:
    print("try something")
    a = 10/0
except:
    print("I got an error")

try something
I got an error

In [75]:
try:
    print("try something")
    l = [1,2,3,4,6]
    number = l[9]
except BaseException as e:
    print(f"I got an error | {e}")

try something
I got an error | list index out of range

## raise

In [76]:
for item in [1,2,3,4,5]:
    if item == 4:
        raise ValueError("you were not allowed to have '4' in your list!")

ValueError: you were not allowed to have '4' in your list!

In [11]:
def sum_of_num(*args, **kwargs):
    
    
    print(f"args is {args}")
    print(f"kwargs is {kwargs}")
    
    
    sum=0
    for num in args:
        
        if not isinstance(num, int):
            raise ValueError(f"sorry but {num} is not an integer!")
        
        
        sum += num # (sum = num + sum)
        
    for key, value in kwargs.items():
        
        if not isinstance(value, int):
            raise Exception(f"sorry but {num} is not an integer!")
            
        print(f"{key}={value} was added too")
        
        sum += value
        
    return sum

In [12]:
sum_of_num(34, "78", a=445)

args is (34, '78')
kwargs is {'a': 445}

ValueError: sorry but 78 is not an integer!

In [79]:
not True

False

# Bokeh

conda install bokeh=1.4.0
conda install pandas

In [ ]:
import bokeh.sampledata

bokeh.sampledata.download()

In [2]:
import bokeh

In [4]:
from bokeh.sampledata.autompg import autompg

In [11]:
df = autompg

In [13]:
df.head()

    mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino

In [17]:
df.shape

(392, 9)

In [21]:
df['yr'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype=int64)

In [19]:
df.yr.unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype=int64)

In [28]:
df.columns

Index(['mpg', 'cyl', 'displ', 'hp', 'weight', 'accel', 'yr', 'origin', 'name'], dtype='object')

In [32]:
df.drop(['cyl', 'displ', 'hp', 'weight', 'accel', 'origin'], axis=1, inplace=True)

In [33]:
df

      mpg  yr                       name
0    18.0  70  chevrolet chevelle malibu
1    15.0  70          buick skylark 320
2    18.0  70         plymouth satellite
3    16.0  70              amc rebel sst
4    17.0  70                ford torino
..    ...  ..                        ...
387  27.0  82            ford mustang gl
388  44.0  82                  vw pickup
389  32.0  82              dodge rampage
390  28.0  82                ford ranger
391  31.0  82                 chevy s-10

[392 rows x 3 columns]

In [37]:
from bokeh.sampledata.autompg import autompg

In [5]:
sorted(df['yr'].unique())

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82]

## bokeh impoarts

In [1]:
from bokeh.layouts import column
from bokeh.plotting import figure, show, output_notebook
from bokeh.sampledata.autompg import autompg
from bokeh.transform import jitter

output_notebook()

## dataframe manipulation

In [2]:
df = autompg
df['circle_color']='green'
df['circle_size']=10

years = sorted(autompg.yr.unique())

In [7]:
df

,mpg,cyl,displ,hp,weight,accel,yr,origin,name,circle_color,circle_size
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,green,10
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,green,10
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,green,10
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,green,10
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,green,10
...,...,...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,green,10
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,green,10
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,green,10
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,green,10
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,green,10

In [10]:
(df['mpg']>30)

0      False
1      False
2      False
3      False
4      False
       ...
387    False
388     True
389     True
390    False
391     True
Name: mpg, Length: 392, dtype: bool

In [9]:
df[(df['mpg']>30)]

,mpg,cyl,displ,hp,weight,accel,yr,origin,name,circle_color,circle_size
52,31.0,4,71.0,65,1773,19.0,71,3,toyota corolla 1200,green,10
53,35.0,4,72.0,69,1613,18.0,71,3,datsun 1200,green,10
127,31.0,4,79.0,67,1950,19.0,74,3,datsun b210,green,10
129,32.0,4,71.0,65,1836,21.0,74,3,toyota corolla 1200,green,10
142,31.0,4,76.0,52,1649,16.5,74,3,toyota corona,green,10
...,...,...,...,...,...,...,...,...,...,...,...
384,32.0,4,144.0,96,2665,13.9,82,3,toyota celica gt,green,10
385,36.0,4,135.0,84,2370,13.0,82,1,dodge charger 2.2,green,10
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,green,10
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,green,10
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,green,10

In [14]:
df.loc[ (df['mpg']>30)  , 'circle_color'] = 'red'
df.loc[ (df['mpg']<20)  , 'circle_color'] = 'yellow'

In [12]:
df

,mpg,cyl,displ,hp,weight,accel,yr,origin,name,circle_color,circle_size
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,green,10
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,green,10
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,green,10
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,green,10
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,green,10
...,...,...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,green,10
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,red,10
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,red,10
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,green,10
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,red,10

## show bokeh visualization

In [15]:
p1 = figure(plot_width=600, plot_height=300, title="Years vs mpg without jittering")
p1.xgrid.grid_line_color = None
p1.xaxis.ticker = years
p1.circle(x='yr', y='mpg', size='circle_size', color='circle_color', alpha=0.4, source=df)

# output_file("jitter.html")

show(column(p1))

In [3]:
df['circle_color']='green'

In [4]:
df

,mpg,cyl,displ,hp,weight,accel,yr,origin,name,circle_color
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,green
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,green
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,green
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,green
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,green
...,...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,green
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,green
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,green
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,green
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,green