# Python Programming (Sunday, Feb 16)

where is my Python

In [17]:
import sys
print(sys.executable)

/encs/pkg/anaconda3-2019.10/root/bin/python

## use Python as calculatoor

Number

In [18]:
5+2

7

In [19]:
5-2

3

In [20]:
20/5

4.0

In [21]:
50/3

16.666666666666668

In [22]:
5*5

25

In [23]:
5**2

25

In [24]:
20/6

3.3333333333333335

In [25]:
20//6

3

In [26]:
5.8/2

2.9

In [27]:
5.8//2

2.0

In [39]:
7 % 2

1

In [29]:
29%3

2

In [30]:
29 == 3*9 +2

True

In [31]:
307%100

7

In [33]:
no_of_courses = 50
no_of_students = 70

total_no_of_students = no_of_courses* no_of_students

In [34]:
print(total_no_of_students)

3500

In [ ]:
total_no_of_students

In [40]:
import math

In [41]:
math.ceil

In [44]:
math.ceil(4.1)

5

String

In [45]:
'I am a string'

'I am a string'

In [46]:
mystr = 'I am an assinged string'

In [47]:
mystr

'I am an assinged string'

In [48]:
"I am also a string"

'I am also a string'

In [49]:
"I am a string and my name is 'alex'"

"I am a string and my name is 'alex'"

In [50]:
'I am a string from "python"'

'I am a string from "python"'

In [51]:
'I am a string from 'python' too'

SyntaxError: invalid syntax (<ipython-input-51-7f2db76ab39a>, line 1)

In [52]:
"I'm here"

"I'm here"

In [53]:
""" also a string"""

' also a string'

In [59]:
print(""" here there 
I'm here to learn Python""")

 here there
I'm here to learn Python

In [60]:
print(""" here there \
I'm here to learn Python""")

 here there I'm here to learn Python

In [63]:
'Py' + 'thon'

'Python'

In [64]:
firstname = "Python"

In [65]:
lastname = "workshop"

In [67]:
firstname + ' ' + las
tname

'Python workshop'

In [68]:
firstname[0]

'P'

In [69]:
firstname[2:4]

'th'

In [70]:
firstname[4]

'o'

In [71]:
firstname[2]

't'

In [74]:
firstname[0:2] + lastname

'Pyworkshop'

In [75]:
len(firstname)

6

List

In [77]:
type(firstname)

str

In [78]:
type(list)

type

list = 'my list' # Do not do that

In [79]:
mylist = [1, 2, 3.4, "I am a string"]

In [80]:
mylist

[1, 2, 3.4, 'I am a string']

In [81]:
mylist2 = [1, 2, 3, [4, 5, 6], "str"]

In [82]:
mylist2

[1, 2, 3, [4, 5, 6], 'str']

In [83]:
mylist2[0]

1

In [84]:
mylist2[2:3]

[3]

In [86]:
mylist2[3:]

[[4, 5, 6], 'str']

# conditionas

In [88]:
mystr = "PythonWork"

In [93]:
mystr == "PythonWork"

True

```
if True {
print('hey')
print('this is true')
            a = 'mysecondstr'
}

print('program is ended')
```

In [95]:
if True:
    print("i an inside if")
    print(" i am also inside if")
print("i am outside the if block")

i an inside if
 i am also inside if
i am outside the if block

In [96]:
if False:
    print("i an inside if")
    print(" i am also inside if")
print("i am outside the if block")

i am outside the if block

In [100]:
if False:
print("i an inside if")
print(" i am also inside if")
print("i am outside the if block")

IndentationError: expected an indented block (<ipython-input-100-953f578777a5>, line 2)

In [101]:
34 ==34

True

In [106]:
if 34 == 34:
    print(" the if statement was True so this block was executed")
    print("i an inside if")
    print(" i am also inside if")
else:
    print(" I was False and am part of the else block")
print("i am outside the if block")

 the if statement was True so this block was executed
i an inside if
 i am also inside if
i am outside the if block

In [109]:
if 34 == 35:
    print(" the if statement was True so this block was executed")
    print("i an inside if")
    print(" i am also inside if")
else:
    print(" I was False and am part of the else block")
print("i am outside the if block so I don't care about the status (true or False) of if statement")

 I was False and am part of the else block
i am outside the if block so I don't care about the status (true or False) of if statement

In [110]:
def workshop_if():
    if 34 == 35:
        print(" the if statement was True so this block was executed")
        print("i an inside if")
        print(" i am also inside if")
    else:
        print(" I was False and am part of the else block")
    print("i am outside the if block so I don't care about the status (true or False) of if statement")

In [113]:
my_pretty_function = workshop_if

In [114]:
my_pretty_function

In [115]:
my_pretty_function()

 I was False and am part of the else block
i am outside the if block so I don't care about the status (true or False) of if statement

In [116]:
workshop_if()

 I was False and am part of the else block
i am outside the if block so I don't care about the status (true or False) of if statement

In [123]:
def workshop_if_with_argument(number):
    if 34 == number:
        print(" the if statement was True so this block was executed")
        print("i an inside if")
        print(' the passed number is equal to 34')
    else:
        print(" I was False and am part of the else block")
        print("I was not 34. I could have any other value")
    print("""this is to let you know, that your function was executed properly 
            I don't care what argument you passed to the function """)
    
    return number * 2

In [125]:
myresult = workshop_if_with_argument(34)

 the if statement was True so this block was executed
i an inside if
 the passed number is equal to 34
this is to let you know, that your function was executed properly
            I don't care what argument you passed to the function

In [126]:
myresult

68

```
def get_number .... 

    return sth
```
it gets an argument

if the argument is not a number, print it's not a number and finish
if it's a number, print it's even if it is, print it's odd if it is, 
take square root of it and return that
if the passed argument was a negative number , only print odd or even, also print that a negative number was passed, and return 0

In [130]:
isinstance([23], int)

False

In [136]:
import math
math.sqrt(100)

10.0

In [147]:
import math
def get_number(number):
    if isinstance(number, int):
        print(" a number was passed to the function")
        
        if number % 2 == 0:
            print(' the number is even')
        else:
            print(' the number is odd')
        
        if number < 0:
            print("""the number is negative so the 
            square root is not returned""")
            return 0
        else:
            return math.sqrt(number)
    else:
        print('passed argument is not a number \
        please pass a number and try again')
        
        return 0

In [156]:
get_number(-100)

 a number was passed to the function
 the number is even
the number is negative so the
            square root is not returned

0