In [9]:
import numpy as np
import pandas as pd

Pandas Series

In [6]:
s = pd.Series([1, 3, 'text', -9])

In [8]:
type(s)

pandas.core.series.Series

In [7]:
s2 = pd.Series([1, 3, np.nan, -9])

In [8]:
s2

0    1.0
1    3.0
2    NaN
3   -9.0
dtype: float64

In [10]:
dates = pd.date_range('20200101', periods=8)

In [11]:
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df = pd.DataFrame(data=np.random.randn(8, 4), index=dates, columns = "A B C D".split())

In [11]:
np.random.randn(10, 2)

array([[-0.37691588, -0.41500262],
       [ 0.77277484, -2.25892634],
       [-1.55502955, -0.15243931],
       [-1.36479016, -0.54190363],
       [ 0.93775775, -0.19309832],
       [-1.96985956, -0.78482177],
       [ 0.3058221 ,  0.80089548],
       [ 0.10394036,  0.56851631],
       [ 1.76030471,  1.14874947],
       [-0.77979159,  1.34792866]])

In [12]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [15]:
df = pd.DataFrame(data=np.random.randn(8, 4), columns = "A B C D".split())

In [16]:
df

          A         B         C         D
0  0.723514  1.614734 -0.952714 -0.961433
1 -0.701354 -0.106554 -0.617708 -0.510049
2  2.332312 -0.734946  0.788754  0.430347
3 -1.024537  0.845551  0.222611  0.358885
4 -0.083459  1.375554 -0.647906  0.676753
5 -0.321418 -2.579422  0.080578 -2.649184
6 -0.234875  0.197390  0.669734  0.175108
7 -0.153119  1.159823 -0.483061 -0.355045

In [30]:
df

                   A         B         C         D
2020-01-01 -0.282705 -0.446831  1.333444 -0.499867
2020-01-02  1.323749  0.385528  2.537647 -0.847421
2020-01-03 -0.159016 -0.664057  0.660372  0.539689
2020-01-04 -0.142923  0.165215 -0.682734 -1.018871
2020-01-05 -1.152045  2.247721  1.637248  2.527615
2020-01-06  0.574319  0.584778  1.604294  0.824370
2020-01-07 -1.213631 -0.990975 -0.048638 -1.135744
2020-01-08  0.828708 -1.957736 -0.548054  0.036664

In [51]:
mydictionary = {'A':[1, 2, 3], 'B':["str", 34, -90], 'c': 45}

pd.DataFrame(data=mydictionary)

   A    B   c
0  1  str  45
1  2   34  45
2  3  -90  45

In [19]:
[3]*2

[3, 3]

In [25]:
mydictionary = { 
    'A' :[12]*4, 
    'B' : pd.Timestamp('20200203'),
    'C': pd.Series(3, index=list(range(4)), dtype='float32'),
    'D': np.array([1, 2, 4, 0]), 
    'E': pd.Categorical(['str1', 'test', 'pandas', 'numpy']),
    'F': 45,
    'G': 'string for all rows'
}

df2 = pd.DataFrame(mydictionary)

In [23]:
df2

    A          B    C  D       E   F                    G
0  12 2020-02-03  3.0  1    str1  45  string for all rows
1  12 2020-02-03  3.0  2    test  45  string for all rows
2  12 2020-02-03  3.0  4  pandas  45  string for all rows
3  12 2020-02-03  3.0  0   numpy  45  string for all rows

In [46]:
{'a':20, 'b': [23, 324, 45]}

{'a': 20, 'b': [23, 324, 45]}

In [37]:
pd.Timestamp('20200203')

Timestamp('2020-02-03 00:00:00')

In [38]:
pd.Series(3, index=list(range(4)))

0    3
1    3
2    3
3    3
dtype: int64

In [39]:
pd.Categorical(['str1', 'test', 'pandas', 'numpy'])

[str1, test, pandas, numpy]
Categories (4, object): [numpy, pandas, str1, test]

In [53]:
df2

    A          B  C  D       E   F                    G
0  12 2020-02-03  3  1    str1  45  string for all rows
1  12 2020-02-03  3  2    test  45  string for all rows
2  12 2020-02-03  3  4  pandas  45  string for all rows
3  12 2020-02-03  3  0   numpy  45  string for all rows

In [59]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F             int64
G            object
dtype: object

In [60]:
df2

    A          B    C  D       E   F                    G
0  12 2020-02-03  3.0  1    str1  45  string for all rows
1  12 2020-02-03  3.0  2    test  45  string for all rows
2  12 2020-02-03  3.0  4  pandas  45  string for all rows
3  12 2020-02-03  3.0  0   numpy  45  string for all rows

In [4]:
import pandas as pd
import numpy as np

dates = pd.date_range('20200101', periods=200)
df = pd.DataFrame(data=np.random.randn(200, 10), index=dates, columns = "A B C D E F G H I J".split())

In [5]:
df

,A,B,C,D,E,F,G,H,I,J
2020-01-01,1.031558,-0.037983,0.995923,0.215910,0.405482,0.441409,2.140098,0.046438,0.639571,-1.082221
2020-01-02,1.210610,0.307088,-0.395456,-1.032209,-0.086030,0.929924,-1.202661,-0.522852,-0.868041,1.217336
2020-01-03,1.042559,-2.065327,0.201607,0.581618,-0.852262,0.159259,1.983552,-0.713619,-0.287356,1.233328
2020-01-04,-1.268735,0.654950,0.350343,-0.617579,0.799575,-1.490695,0.407228,-1.252842,0.877651,0.766256
2020-01-05,1.534127,0.553398,0.349324,0.802871,1.735758,-0.849070,-1.295748,2.465528,-0.274723,0.540473
...,...,...,...,...,...,...,...,...,...,...
2020-07-14,0.070630,0.637740,0.216158,-0.398602,-0.458087,-0.372938,-0.786025,-0.406808,2.511179,-0.937272
2020-07-15,-1.322362,0.565195,0.478909,1.275585,0.911405,0.038425,-1.714019,-0.665979,0.416331,0.469150
2020-07-16,0.151065,-0.603632,-0.957951,2.288862,0.057442,-0.349818,-1.048517,0.447213,0.536222,1.035594
2020-07-17,0.036269,1.858562,-0.593726,-0.668770,-0.676072,1.332702,0.880967,1.842790,0.597657,-1.211219
2020-07-18,1.198581,-1.150890,1.371643,-0.027445,0.494152,0.104598,-0.172626,0.520939,-0.808010,0.093526

In [6]:
df.shape

(200, 10)

In [7]:
df.head()

,A,B,C,D,E,F,G,H,I,J
2020-01-01,1.031558,-0.037983,0.995923,0.215910,0.405482,0.441409,2.140098,0.046438,0.639571,-1.082221
2020-01-02,1.210610,0.307088,-0.395456,-1.032209,-0.086030,0.929924,-1.202661,-0.522852,-0.868041,1.217336
2020-01-03,1.042559,-2.065327,0.201607,0.581618,-0.852262,0.159259,1.983552,-0.713619,-0.287356,1.233328
2020-01-04,-1.268735,0.654950,0.350343,-0.617579,0.799575,-1.490695,0.407228,-1.252842,0.877651,0.766256
2020-01-05,1.534127,0.553398,0.349324,0.802871,1.735758,-0.849070,-1.295748,2.465528,-0.274723,0.540473

In [8]:
df.tail(1)

,A,B,C,D,E,F,G,H,I,J
2020-07-18,1.198581,-1.15089,1.371643,-0.027445,0.494152,0.104598,-0.172626,0.520939,-0.80801,0.093526

In [9]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12',
               '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16',
               '2020-07-17', '2020-07-18'],
              dtype='datetime64[ns]', length=200, freq='D')

In [10]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [11]:
df.describe()

,A,B,C,D,E,F,G,H,I,J
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.015953,-0.050980,-0.106755,0.067644,-0.031590,-0.134313,0.049099,-0.021456,0.042802,0.019795
std,0.993977,0.953870,0.915966,1.078515,0.988106,1.090297,1.084810,1.018078,1.083258,1.019436
min,-3.444589,-2.586016,-2.456364,-2.744294,-2.542063,-4.594129,-2.614725,-2.914655,-4.345120,-2.430616
25%,-0.658027,-0.702663,-0.747967,-0.622179,-0.638740,-0.847358,-0.654852,-0.650300,-0.589749,-0.750665
50%,0.042198,-0.084443,0.019117,0.095959,-0.072610,-0.051437,0.013049,-0.014882,0.048952,0.060679
75%,0.721857,0.586288,0.480049,0.804582,0.692140,0.555620,0.766370,0.630998,0.776830,0.719435
max,3.013264,2.369457,2.223921,3.383372,2.946278,3.447805,2.783655,3.103342,3.408898,2.592013

In [12]:
df.sort_index(axis=0, ascending=False)

,A,B,C,D,E,F,G,H,I,J
2020-07-18,1.198581,-1.150890,1.371643,-0.027445,0.494152,0.104598,-0.172626,0.520939,-0.808010,0.093526
2020-07-17,0.036269,1.858562,-0.593726,-0.668770,-0.676072,1.332702,0.880967,1.842790,0.597657,-1.211219
2020-07-16,0.151065,-0.603632,-0.957951,2.288862,0.057442,-0.349818,-1.048517,0.447213,0.536222,1.035594
2020-07-15,-1.322362,0.565195,0.478909,1.275585,0.911405,0.038425,-1.714019,-0.665979,0.416331,0.469150
2020-07-14,0.070630,0.637740,0.216158,-0.398602,-0.458087,-0.372938,-0.786025,-0.406808,2.511179,-0.937272
...,...,...,...,...,...,...,...,...,...,...
2020-01-05,1.534127,0.553398,0.349324,0.802871,1.735758,-0.849070,-1.295748,2.465528,-0.274723,0.540473
2020-01-04,-1.268735,0.654950,0.350343,-0.617579,0.799575,-1.490695,0.407228,-1.252842,0.877651,0.766256
2020-01-03,1.042559,-2.065327,0.201607,0.581618,-0.852262,0.159259,1.983552,-0.713619,-0.287356,1.233328
2020-01-02,1.210610,0.307088,-0.395456,-1.032209,-0.086030,0.929924,-1.202661,-0.522852,-0.868041,1.217336
2020-01-01,1.031558,-0.037983,0.995923,0.215910,0.405482,0.441409,2.140098,0.046438,0.639571,-1.082221

In [88]:
df.sort_index(inplace=True)

In [90]:
df2 = df.sort_values(by='B', inplace=False)

In [91]:
df2

,A,B,C,D,E,F,G,H,I,J
2020-01-17,0.126239,-3.338184,-3.051582,-0.728091,-1.818278,1.216025,-0.333858,-1.920170,1.234730,-1.461692
2020-02-09,0.521164,-2.964587,-1.048690,-0.752281,0.127132,-0.627750,1.116236,-0.105789,-1.086091,0.279976
2020-03-08,1.094285,-2.276297,0.133512,0.336806,0.757039,0.918054,1.801597,-0.836550,1.550719,0.599040
2020-07-12,0.647902,-1.954811,0.980042,-0.929999,1.421470,0.782560,-1.177231,0.562266,0.798137,0.493023
2020-05-01,-0.656587,-1.946230,0.435722,0.893559,-0.805522,-0.176817,-1.643649,0.320501,0.265545,-0.812557
...,...,...,...,...,...,...,...,...,...,...
2020-04-07,-0.616871,1.984217,0.200791,-1.778859,0.461650,1.117511,1.040668,-1.281345,-0.966896,0.128413
2020-06-10,-1.397389,2.137782,-0.763612,-1.081737,-1.323938,-1.126294,-0.576580,0.710617,0.553533,0.544043
2020-02-24,0.111631,2.169759,-1.276328,-1.294950,2.552359,-0.479036,0.308662,-0.341063,-1.009649,1.807260
2020-05-08,0.271657,2.925517,1.700781,-1.068415,-1.051624,0.220142,-0.718733,-0.427018,1.230725,1.439349
2020-01-20,1.414848,3.978803,-0.818275,-0.581610,-0.888949,1.000342,1.111266,-0.285656,-0.845452,0.021724

In [15]:
df2 = df.reset_index()

In [16]:
df2

,level_0,index,A,B,C,D,E,F,G,H,I,J
0,0,2020-01-01,1.031558,-0.037983,0.995923,0.215910,0.405482,0.441409,2.140098,0.046438,0.639571,-1.082221
1,1,2020-01-02,1.210610,0.307088,-0.395456,-1.032209,-0.086030,0.929924,-1.202661,-0.522852,-0.868041,1.217336
2,2,2020-01-03,1.042559,-2.065327,0.201607,0.581618,-0.852262,0.159259,1.983552,-0.713619,-0.287356,1.233328
3,3,2020-01-04,-1.268735,0.654950,0.350343,-0.617579,0.799575,-1.490695,0.407228,-1.252842,0.877651,0.766256
4,4,2020-01-05,1.534127,0.553398,0.349324,0.802871,1.735758,-0.849070,-1.295748,2.465528,-0.274723,0.540473
...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,2020-07-14,0.070630,0.637740,0.216158,-0.398602,-0.458087,-0.372938,-0.786025,-0.406808,2.511179,-0.937272
196,196,2020-07-15,-1.322362,0.565195,0.478909,1.275585,0.911405,0.038425,-1.714019,-0.665979,0.416331,0.469150
197,197,2020-07-16,0.151065,-0.603632,-0.957951,2.288862,0.057442,-0.349818,-1.048517,0.447213,0.536222,1.035594
198,198,2020-07-17,0.036269,1.858562,-0.593726,-0.668770,-0.676072,1.332702,0.880967,1.842790,0.597657,-1.211219
199,199,2020-07-18,1.198581,-1.150890,1.371643,-0.027445,0.494152,0.104598,-0.172626,0.520939,-0.808010,0.093526

In [85]:
df.sort_values(by='A', inplace=False)

,A,B,C,D,E,F,G,H,I,J
2020-02-23,-2.179739,-1.667084,2.406158,-1.048196,2.051921,0.460385,0.737192,0.260417,0.839218,0.115576
2020-03-16,-2.009155,1.457007,0.347242,0.375797,-1.660121,0.038789,-0.772217,-0.819174,0.715329,0.593980
2020-03-24,-1.768999,0.405667,-0.148044,-1.445942,-0.125774,-0.075631,1.520603,0.406095,-0.128720,-0.234725
2020-06-20,-1.647514,0.822714,-0.078575,-0.436317,-0.363599,0.377531,1.078586,-0.666997,0.289438,-0.659626
2020-06-21,-1.520783,-1.130631,0.588314,0.896836,-0.343972,-0.695493,0.051161,0.170688,-0.330768,1.574267
...,...,...,...,...,...,...,...,...,...,...
2020-01-08,1.938101,0.477502,0.674374,-0.466630,-0.373068,0.388685,-1.673238,1.967351,-0.501046,0.152225
2020-01-16,2.161674,-0.224355,1.509785,0.209215,-0.186583,-0.290747,0.412001,-1.030995,0.901481,0.858943
2020-01-14,2.265737,1.079683,-1.309280,0.105188,-0.071004,1.499310,-0.229290,0.724685,-1.269048,-0.303243
2020-05-09,2.390502,0.421864,0.319403,0.661335,-1.970769,-2.079721,0.804763,1.037547,-1.042878,1.637564
2020-02-22,2.518651,0.821792,0.115420,1.194700,-0.150558,0.232122,-0.734760,1.033803,-0.330237,0.425298

In [93]:
df.head()

,A,B,C,D,E,F,G,H,I,J
2020-01-01,-0.507426,-0.455096,1.393482,1.010476,1.705061,1.324370,-0.229133,-0.465788,-0.038412,0.349267
2020-01-02,0.580216,1.692404,-1.163308,-0.170595,-0.538892,1.431567,0.490453,1.217780,-1.409553,-0.447893
2020-01-03,0.906382,-0.794036,-0.315109,-1.208589,0.204034,0.901215,-1.157491,-1.150836,0.013163,-0.345196
2020-01-04,-0.453195,0.065685,-1.022802,-0.241865,0.688544,-1.097094,-0.677758,-0.637042,1.813942,-0.637382
2020-01-05,-0.626884,-0.518890,0.908703,0.154103,-1.894072,0.041337,-0.256841,-1.395179,-0.728137,0.912563

In [21]:
 row = df[3:4]

In [22]:
type(row)

pandas.core.frame.DataFrame

In [25]:
df = df.set_index('index')

In [26]:
df

,A,B,C,D,E,F,G,H,I,J
index,,,,,,,,,,
2020-01-01,1.031558,-0.037983,0.995923,0.215910,0.405482,0.441409,2.140098,0.046438,0.639571,-1.082221
2020-01-02,1.210610,0.307088,-0.395456,-1.032209,-0.086030,0.929924,-1.202661,-0.522852,-0.868041,1.217336
2020-01-03,1.042559,-2.065327,0.201607,0.581618,-0.852262,0.159259,1.983552,-0.713619,-0.287356,1.233328
2020-01-04,-1.268735,0.654950,0.350343,-0.617579,0.799575,-1.490695,0.407228,-1.252842,0.877651,0.766256
2020-01-05,1.534127,0.553398,0.349324,0.802871,1.735758,-0.849070,-1.295748,2.465528,-0.274723,0.540473
...,...,...,...,...,...,...,...,...,...,...
2020-07-14,0.070630,0.637740,0.216158,-0.398602,-0.458087,-0.372938,-0.786025,-0.406808,2.511179,-0.937272
2020-07-15,-1.322362,0.565195,0.478909,1.275585,0.911405,0.038425,-1.714019,-0.665979,0.416331,0.469150
2020-07-16,0.151065,-0.603632,-0.957951,2.288862,0.057442,-0.349818,-1.048517,0.447213,0.536222,1.035594
2020-07-17,0.036269,1.858562,-0.593726,-0.668770,-0.676072,1.332702,0.880967,1.842790,0.597657,-1.211219
2020-07-18,1.198581,-1.150890,1.371643,-0.027445,0.494152,0.104598,-0.172626,0.520939,-0.808010,0.093526

In [28]:
df.loc['20200114':'20200717', ['A', 'D']]

                   A         D
index
2020-01-14  1.781468  0.521481
2020-01-15  0.440280  1.657446
2020-01-16  0.855689 -0.635979
2020-01-17 -1.554438  0.582450
2020-01-18  0.497682  0.809715
...              ...       ...
2020-07-13 -0.279693 -1.774343
2020-07-14  0.070630 -0.398602
2020-07-15 -1.322362  1.275585
2020-07-16  0.151065  2.288862
2020-07-17  0.036269 -0.668770

[186 rows x 2 columns]

In [30]:
df[['A', 'B']]

                   A         B
index
2020-01-01  1.031558 -0.037983
2020-01-02  1.210610  0.307088
2020-01-03  1.042559 -2.065327
2020-01-04 -1.268735  0.654950
2020-01-05  1.534127  0.553398
...              ...       ...
2020-07-14  0.070630  0.637740
2020-07-15 -1.322362  0.565195
2020-07-16  0.151065 -0.603632
2020-07-17  0.036269  1.858562
2020-07-18  1.198581 -1.150890

[200 rows x 2 columns]

In [113]:
df.head()

,A,B,C,D,E,F,G,H,I,J
2020-01-01,-0.507426,-0.455096,1.393482,1.010476,1.705061,1.324370,-0.229133,-0.465788,-0.038412,0.349267
2020-01-02,0.580216,1.692404,-1.163308,-0.170595,-0.538892,1.431567,0.490453,1.217780,-1.409553,-0.447893
2020-01-03,0.906382,-0.794036,-0.315109,-1.208589,0.204034,0.901215,-1.157491,-1.150836,0.013163,-0.345196
2020-01-04,-0.453195,0.065685,-1.022802,-0.241865,0.688544,-1.097094,-0.677758,-0.637042,1.813942,-0.637382
2020-01-05,-0.626884,-0.518890,0.908703,0.154103,-1.894072,0.041337,-0.256841,-1.395179,-0.728137,0.912563

In [34]:
type(df['A'])

pandas.core.series.Series

In [33]:
type(df.iloc[3])

pandas.core.series.Series

In [35]:
df.iloc[0:3, 2:5]

                   C         D         E
index
2020-01-01  0.995923  0.215910  0.405482
2020-01-02 -0.395456 -1.032209 -0.086030
2020-01-03  0.201607  0.581618 -0.852262

In [36]:
df.iloc[[0,1 , 4], [0,9]]

                   A         J
index
2020-01-01  1.031558 -1.082221
2020-01-02  1.210610  1.217336
2020-01-05  1.534127  0.540473

In [37]:
df

,A,B,C,D,E,F,G,H,I,J
index,,,,,,,,,,
2020-01-01,1.031558,-0.037983,0.995923,0.215910,0.405482,0.441409,2.140098,0.046438,0.639571,-1.082221
2020-01-02,1.210610,0.307088,-0.395456,-1.032209,-0.086030,0.929924,-1.202661,-0.522852,-0.868041,1.217336
2020-01-03,1.042559,-2.065327,0.201607,0.581618,-0.852262,0.159259,1.983552,-0.713619,-0.287356,1.233328
2020-01-04,-1.268735,0.654950,0.350343,-0.617579,0.799575,-1.490695,0.407228,-1.252842,0.877651,0.766256
2020-01-05,1.534127,0.553398,0.349324,0.802871,1.735758,-0.849070,-1.295748,2.465528,-0.274723,0.540473
...,...,...,...,...,...,...,...,...,...,...
2020-07-14,0.070630,0.637740,0.216158,-0.398602,-0.458087,-0.372938,-0.786025,-0.406808,2.511179,-0.937272
2020-07-15,-1.322362,0.565195,0.478909,1.275585,0.911405,0.038425,-1.714019,-0.665979,0.416331,0.469150
2020-07-16,0.151065,-0.603632,-0.957951,2.288862,0.057442,-0.349818,-1.048517,0.447213,0.536222,1.035594
2020-07-17,0.036269,1.858562,-0.593726,-0.668770,-0.676072,1.332702,0.880967,1.842790,0.597657,-1.211219
2020-07-18,1.198581,-1.150890,1.371643,-0.027445,0.494152,0.104598,-0.172626,0.520939,-0.808010,0.093526

In [39]:
df['A'] = 20

In [40]:
df

,A,B,C,D,E,F,G,H,I,J
index,,,,,,,,,,
2020-01-01,20,-0.037983,0.995923,0.215910,0.405482,0.441409,2.140098,0.046438,0.639571,-1.082221
2020-01-02,20,0.307088,-0.395456,-1.032209,-0.086030,0.929924,-1.202661,-0.522852,-0.868041,1.217336
2020-01-03,20,-2.065327,0.201607,0.581618,-0.852262,0.159259,1.983552,-0.713619,-0.287356,1.233328
2020-01-04,20,0.654950,0.350343,-0.617579,0.799575,-1.490695,0.407228,-1.252842,0.877651,0.766256
2020-01-05,20,0.553398,0.349324,0.802871,1.735758,-0.849070,-1.295748,2.465528,-0.274723,0.540473
...,...,...,...,...,...,...,...,...,...,...
2020-07-14,20,0.637740,0.216158,-0.398602,-0.458087,-0.372938,-0.786025,-0.406808,2.511179,-0.937272
2020-07-15,20,0.565195,0.478909,1.275585,0.911405,0.038425,-1.714019,-0.665979,0.416331,0.469150
2020-07-16,20,-0.603632,-0.957951,2.288862,0.057442,-0.349818,-1.048517,0.447213,0.536222,1.035594
2020-07-17,20,1.858562,-0.593726,-0.668770,-0.676072,1.332702,0.880967,1.842790,0.597657,-1.211219
2020-07-18,20,-1.150890,1.371643,-0.027445,0.494152,0.104598,-0.172626,0.520939,-0.808010,0.093526

In [56]:
df['K'] = np.random.randn(200)/200000

In [57]:
df

,A,B,C,D,E,F,G,H,I,J,K
index,,,,,,,,,,,
2020-01-01,20,-0.037983,0.995923,0.215910,0.405482,0.441409,2.140098,0.046438,0.639571,-1.082221,126967.789865
2020-01-02,20,0.307088,-0.395456,-1.032209,-0.086030,0.929924,-1.202661,-0.522852,-0.868041,1.217336,-27448.683264
2020-01-03,20,-2.065327,0.201607,0.581618,-0.852262,0.159259,1.983552,-0.713619,-0.287356,1.233328,124651.096225
2020-01-04,20,0.654950,0.350343,-0.617579,0.799575,-1.490695,0.407228,-1.252842,0.877651,0.766256,-14625.610819
2020-01-05,20,0.553398,0.349324,0.802871,1.735758,-0.849070,-1.295748,2.465528,-0.274723,0.540473,-45060.662803
...,...,...,...,...,...,...,...,...,...,...,...
2020-07-14,20,0.637740,0.216158,-0.398602,-0.458087,-0.372938,-0.786025,-0.406808,2.511179,-0.937272,210884.429434
2020-07-15,20,0.565195,0.478909,1.275585,0.911405,0.038425,-1.714019,-0.665979,0.416331,0.469150,34377.103322
2020-07-16,20,-0.603632,-0.957951,2.288862,0.057442,-0.349818,-1.048517,0.447213,0.536222,1.035594,-65106.700441
2020-07-17,20,1.858562,-0.593726,-0.668770,-0.676072,1.332702,0.880967,1.842790,0.597657,-1.211219,110676.838038
2020-07-18,20,-1.150890,1.371643,-0.027445,0.494152,0.104598,-0.172626,0.520939,-0.808010,0.093526,-1198.700133

In [59]:
myarr = np.random.randn(3)

In [60]:
myarr

array([-0.66753368,  0.50351417,  1.08616376])

In [61]:
myarr / 2

array([-0.33376684,  0.25175708,  0.54308188])

In [58]:
mylist = [40, 30, 10] / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [52]:
mylist * 2

[40, 30, 10, 40, 30, 10]

In [46]:
np.random.randn(200) * 1000000

array([-1.66669579e+05, -4.39116164e+05, -1.60181046e+06, -7.53161654e+05,
       -4.81989541e+05,  3.75144585e+04,  7.44221519e+05,  1.04675718e+05,
       -2.60600616e+05,  4.22670954e+05, -6.49122591e+05,  4.40858411e+05,
       -1.42836212e+06,  1.00556643e+06,  1.32043458e+06,  4.33781501e+03,
       -2.81009060e+06, -3.19154420e+05, -2.06808669e+06, -8.64776052e+05,
       -2.54448506e+06,  1.64237831e+05,  1.64912182e+05,  1.12758477e+06,
       -1.63269386e+06, -2.58229607e+05,  5.40409796e+05,  1.29164898e+06,
        1.18296045e+06, -8.29186540e+04,  9.09971372e+05,  8.42520508e+05,
        1.01294966e+06, -1.29548886e+06,  1.44439643e+06,  1.34849270e+05,
        1.09547509e+06,  1.42619970e+06,  8.09396486e+05, -2.53378606e+05,
        4.93212177e+05, -7.06346201e+05,  7.39069795e+05, -2.54519707e+04,
        2.20321633e+06, -2.72742050e+05, -1.65503782e+06, -9.45072144e+05,
        1.65209420e+06,  4.30976296e+05, -3.51762148e+05, -1.23458715e+06,
        2.38632058e+05,  3.49204580e+05,  1.39386368e+05,  1.56567133e+06,
        8.44067403e+05, -1.22698846e+06, -1.58913625e+06,  9.52841835e+05,
       -1.68140255e+05, -1.65946888e+06, -1.11593946e+06, -7.64746733e+05,
        4.10606067e+05, -7.46078131e+05,  5.90309904e+05,  4.71898870e+05,
       -6.66552390e+05,  2.01643313e+06, -5.23024412e+05,  9.95975004e+05,
        1.53337524e+06, -8.25200027e+05, -1.63012237e+06, -1.99147713e+05,
        6.03953709e+04,  1.21364404e+06, -8.74410110e+05, -2.15717053e+05,
        8.33241862e+05, -7.09685325e+05,  4.16891821e+05, -1.81116542e+06,
        6.22849363e+05,  5.52810463e+05,  1.57788403e+06, -1.14167486e+06,
        1.03408729e+06, -7.59058701e+05, -3.60493199e+05, -6.95448702e+05,
       -1.15031288e+05, -1.36768026e+05,  1.12198335e+06,  1.89669394e+06,
        4.81067146e+04, -5.77630493e+04,  8.20940479e+05, -2.80731350e+05,
        4.33440289e+05, -2.06981321e+05,  5.54006261e+05,  2.30526512e+05,
       -8.94780951e+05,  3.42126379e+05,  2.62665569e+05,  8.37274758e+05,
       -1.85244896e+06,  1.22522511e+06, -1.58885542e+06,  1.90852399e+06,
        1.52050667e+06, -7.72348385e+05,  2.16916846e+06, -1.52939175e+06,
        5.67769017e+05,  6.82285582e+05,  1.49441752e+06,  1.39974689e+06,
        6.40681740e+05,  1.19094228e+06, -1.49742316e+06,  1.90908572e+06,
        1.17752038e+06, -5.91007915e+05, -9.07053542e+05, -7.80059365e+04,
        1.15335672e+06,  1.00090629e+06, -3.98351038e+05, -9.20234503e+05,
       -1.30330273e+06, -1.32140350e+05, -1.94159586e+05,  9.37767316e+05,
       -9.35276329e+05,  1.87633996e+05,  9.98661116e+05,  1.62265089e+06,
        1.06237761e+06,  3.80178091e+04,  7.47507748e+05, -7.22166605e+05,
        1.28387330e+06, -1.04673819e+06,  3.39453550e+05, -7.43528766e+05,
       -1.18407407e+06,  6.80746266e+05, -9.60717098e+05, -2.58767218e+06,
       -1.01524109e+06, -2.60398399e+05,  1.13416558e+06,  6.50952285e+05,
       -8.60466471e+05,  7.65861054e+05, -4.33445283e+05, -2.28844739e+05,
       -1.30632810e+06, -8.31620345e+05, -2.43796605e+05,  1.56210114e+05,
       -3.53470350e+05, -2.89080000e+06, -1.74898490e+06, -1.21230360e+06,
       -6.00386105e+05, -2.73864026e+05, -1.97257360e+06, -4.25522305e+05,
       -1.63824735e+06,  5.09294586e+05, -9.46717488e+05,  1.52588746e+06,
       -6.80465776e+05, -4.06110878e+05, -9.74645704e+05,  8.94529733e+05,
       -7.37212848e+05,  1.12255525e+06, -2.33462510e+05,  1.67769568e+06,
        1.00267199e+06, -4.45735892e+05,  1.67863033e+06, -3.51984105e+04,
       -3.67171730e+05, -5.78830186e+05, -8.18115305e+05, -1.05869986e+06,
       -3.12523901e+05, -2.88862040e+05, -1.04498285e+03, -9.70899681e+05,
       -7.77847179e+05,  6.28284988e+05, -5.42224265e+05, -8.07161319e+04])

In [64]:
df = df.reset_index()

In [65]:
df

,index,A,B,C,D,E,F,G,H,I,J,K
0,2020-01-01,20,-0.037983,0.995923,0.215910,0.405482,0.441409,2.140098,0.046438,0.639571,-1.082221,126967.789865
1,2020-01-02,20,0.307088,-0.395456,-1.032209,-0.086030,0.929924,-1.202661,-0.522852,-0.868041,1.217336,-27448.683264
2,2020-01-03,20,-2.065327,0.201607,0.581618,-0.852262,0.159259,1.983552,-0.713619,-0.287356,1.233328,124651.096225
3,2020-01-04,20,0.654950,0.350343,-0.617579,0.799575,-1.490695,0.407228,-1.252842,0.877651,0.766256,-14625.610819
4,2020-01-05,20,0.553398,0.349324,0.802871,1.735758,-0.849070,-1.295748,2.465528,-0.274723,0.540473,-45060.662803
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020-07-14,20,0.637740,0.216158,-0.398602,-0.458087,-0.372938,-0.786025,-0.406808,2.511179,-0.937272,210884.429434
196,2020-07-15,20,0.565195,0.478909,1.275585,0.911405,0.038425,-1.714019,-0.665979,0.416331,0.469150,34377.103322
197,2020-07-16,20,-0.603632,-0.957951,2.288862,0.057442,-0.349818,-1.048517,0.447213,0.536222,1.035594,-65106.700441
198,2020-07-17,20,1.858562,-0.593726,-0.668770,-0.676072,1.332702,0.880967,1.842790,0.597657,-1.211219,110676.838038
199,2020-07-18,20,-1.150890,1.371643,-0.027445,0.494152,0.104598,-0.172626,0.520939,-0.808010,0.093526,-1198.700133

In [68]:
from bokeh.io import output_notebook, show
from bokeh.models import Button

output_notebook()

button = Button(label="Name", button_type="success")

show(button)

In [70]:
df

,index,A,B,C,D,E,F,G,H,I,J,K
0,2020-01-01,20,-0.037983,0.995923,0.215910,0.405482,0.441409,2.140098,0.046438,0.639571,-1.082221,126967.789865
1,2020-01-02,20,0.307088,-0.395456,-1.032209,-0.086030,0.929924,-1.202661,-0.522852,-0.868041,1.217336,-27448.683264
2,2020-01-03,20,-2.065327,0.201607,0.581618,-0.852262,0.159259,1.983552,-0.713619,-0.287356,1.233328,124651.096225
3,2020-01-04,20,0.654950,0.350343,-0.617579,0.799575,-1.490695,0.407228,-1.252842,0.877651,0.766256,-14625.610819
4,2020-01-05,20,0.553398,0.349324,0.802871,1.735758,-0.849070,-1.295748,2.465528,-0.274723,0.540473,-45060.662803
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020-07-14,20,0.637740,0.216158,-0.398602,-0.458087,-0.372938,-0.786025,-0.406808,2.511179,-0.937272,210884.429434
196,2020-07-15,20,0.565195,0.478909,1.275585,0.911405,0.038425,-1.714019,-0.665979,0.416331,0.469150,34377.103322
197,2020-07-16,20,-0.603632,-0.957951,2.288862,0.057442,-0.349818,-1.048517,0.447213,0.536222,1.035594,-65106.700441
198,2020-07-17,20,1.858562,-0.593726,-0.668770,-0.676072,1.332702,0.880967,1.842790,0.597657,-1.211219,110676.838038
199,2020-07-18,20,-1.150890,1.371643,-0.027445,0.494152,0.104598,-0.172626,0.520939,-0.808010,0.093526,-1198.700133

In [78]:
from bokeh.io import output_notebook, show
from bokeh.models import DataTable, TableColumn, DateFormatter, ColumnDataSource
output_notebook()

source = ColumnDataSource(df)

columns = [
        TableColumn(field="index", title="Date", formatter=DateFormatter()),
        TableColumn(field="K", title="My New Column"),
    TableColumn(field="B", title="B"),
    ]

data_table = DataTable(source=source, columns=columns, width=600, height=280)
show(data_table)

In [79]:
df

,index,A,B,C,D,E,F,G,H,I,J,K
0,2020-01-01,20,-0.037983,0.995923,0.215910,0.405482,0.441409,2.140098,0.046438,0.639571,-1.082221,126967.789865
1,2020-01-02,20,0.307088,-0.395456,-1.032209,-0.086030,0.929924,-1.202661,-0.522852,-0.868041,1.217336,-27448.683264
2,2020-01-03,20,-2.065327,0.201607,0.581618,-0.852262,0.159259,1.983552,-0.713619,-0.287356,1.233328,124651.096225
3,2020-01-04,20,0.654950,0.350343,-0.617579,0.799575,-1.490695,0.407228,-1.252842,0.877651,0.766256,-14625.610819
4,2020-01-05,20,0.553398,0.349324,0.802871,1.735758,-0.849070,-1.295748,2.465528,-0.274723,0.540473,-45060.662803
...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020-07-14,20,0.637740,0.216158,-0.398602,-0.458087,-0.372938,-0.786025,-0.406808,2.511179,-0.937272,210884.429434
196,2020-07-15,20,0.565195,0.478909,1.275585,0.911405,0.038425,-1.714019,-0.665979,0.416331,0.469150,34377.103322
197,2020-07-16,20,-0.603632,-0.957951,2.288862,0.057442,-0.349818,-1.048517,0.447213,0.536222,1.035594,-65106.700441
198,2020-07-17,20,1.858562,-0.593726,-0.668770,-0.676072,1.332702,0.880967,1.842790,0.597657,-1.211219,110676.838038
199,2020-07-18,20,-1.150890,1.371643,-0.027445,0.494152,0.104598,-0.172626,0.520939,-0.808010,0.093526,-1198.700133

In [86]:
np.random.randn(10)

array([ 1.18122935, -1.43711014,  1.74895059, -0.39293564, -1.1590017 ,
        1.91169227, -0.93804617,  1.77185688,  0.3902261 , -0.4658041 ])

In [87]:
import random

In [89]:
random.randint(20, 50)

22

In [90]:
age_list = []

In [93]:
for i in range(10):
    age_list.append(random.randint(20, 50))

In [92]:
age_list

[38, 35, 26, 28, 48, 34, 28, 29, 33, 28]

# list comprehension

In [103]:
age_list = [random.randint(20, 50) for i in range(10)]
weight_list = [random.randint(60, 100) for i in range(10)]

In [96]:
[x+2000 for x in range(10)]

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009]

In [98]:
age_list

[22, 41, 34, 26, 27, 24, 37, 31, 46, 26]

In [104]:
weight_list

[85, 87, 100, 84, 96, 71, 77, 64, 82, 73]

In [105]:
df = pd.DataFrame({"Age": age_list, "Weight": weight_list})

In [106]:
df

   Age  Weight
0   34      85
1   37      87
2   38     100
3   26      84
4   47      96
5   50      71
6   47      77
7   30      64
8   45      82
9   47      73

In [109]:
df['Age'] > 30

0     True
1     True
2     True
3    False
4     True
5     True
6     True
7    False
8     True
9     True
Name: Age, dtype: bool

In [111]:
df['Weight'] < 70

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9    False
Name: Weight, dtype: bool

In [125]:
(df['Age'] > 30) | (df['Weight'] < 80)

0     True
1     True
2     True
3    False
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [128]:
df[(df['Age'] > 30) & (df['Weight'] < 80)]

   Age  Weight
5   50      71
6   47      77
9   47      73

In [132]:
df.columns

Index(['Age', 'Weight'], dtype='object')